@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Monstserrat', sans-serif;
  font-weight: 400;
}

header {
  min-height: 6vh;
}

h1 {
  font-weight: 600;
  padding: 0;
  margin: 0;
}
